{{> head}}

    {{> navbar}}

    <div class="row">
        <div class="col">
            <h1>About Page</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et a fugit eveniet id in aliquid dolore facilis reiciendis eos veritatis nemo voluptatem iste repudiandae, esse consequatur ea, consequuntur amet eum.
            </p>
        </div>

        <div class="col">    
            <img src="assets/img/dados.png" class="img-thumbnail">    
        </div>
    </div>

{{> footer}}